<a name="jotnav[+jot.link.id+]"></a>
<div class="jot-nav">
	<a rel="nofollow" class="jot-btn jot-show-all" href="[+jot.link.navigation:esc+][+jot.querykey.navigation+]=0#jotnav[+jot.link.id+]">View all</a>
	[+jot.page.current:gt=`1`:then=`
	<a rel="nofollow" class="jot-btn" href="[+jot.link.navigation:esc+][+jot.querykey.navigation+]=[+jot.page.current:math=`?-1`+]#jotnav[+jot.link.id+]">&laquo; Previous</a>
	`+]
	[+jot.pages+]
	[+jot.page.current:lt=`[+jot.page.total+]`:then=`
	<a rel="nofollow" class="jot-btn" href="[+jot.link.navigation:esc+][+jot.querykey.navigation+]=[+jot.page.current:math=`?+1`+]#jotnav[+jot.link.id+]">Next &raquo;</a>
	`+]
</div>
